* {
    font-family: monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #141414;
    --alt-black: #242424;
    --grey: #343434;
    --white: #f4f4f4;
    --alt-white: #ddd;
}

html {
    background-color: var(--black);
}

body {
    color: var(--white);
}

.title {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.title::selection {
    background-color: var(--grey);
}

.container {
    display: flex;
    flex-direction: column;
}

.primeiro-input,
.segundo-input,
.operacao {
    width: 84px;
}

.primeiro-input,
.segundo-input,
.operacao {
    border-radius: 8px;
    font-size: 72px;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--grey);
    margin: 12px auto;
    transition: 350ms;
}

.primeiro-input
.segundo-input
.operacao:focus {
    border: 2px solid var(--white);
    transition: 350ms;
}

.primeiro-input
.segundo-input
.operacao::selection {
    background-color: var(--grey);
}

.calcular {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--alt-white);
    background-color: transparent;
    backdrop-filter: blur(16px);
    border: 2px solid var(--grey);
    padding: 16px;
    width: 360px;
    font-size: 32px;
    border-radius: 9999px;
    margin: 16px auto;
    font-weight: 600;
    transition: 350ms;
}

.calcular:hover {
    color: var(--white);
    border: 2px solid #ddd;
    transition: 350ms;
}

.resultado {
    display: flex;
    justify-content: center;
    font-size: 72px;
    margin-top: 16px;
    transition: 350ms;
}

.resultado::selection{
    background-color: var(--grey);
}

@media screen and (max-width: 1080px){
    input {
        font-size: 48px;
    }
    .primeiro-input,
    .segundo-input,
    .operacao {
        width: 84px;
    }
    .calcular {
        font-size: 24px;
        padding: 16px;
        width: 250px;
    }

}