* {
    font-family: monospace;
}

body {
    background-color: #141414;
    color: #f4f4f4;
}

.resultado {
    font-size: 48px;
}
input {
    font-size: 16px;
}
.primeiro-input,
.segundo-input {
    width: 2%;
}
.operacao {
    width: 1%;
}